*{
    padding: 0%;
    margin: 0%;
}
.header{
    background-color: #daac00;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 22px 10px 22px;
}

.header:hover{
    background-color: #3f3f3f;
    
}
h1:hover{
    color: aqua;

}

h2:hover{
    color: blueviolet;

}


.logo{
    width: 50px;
    margin-left: 20px;
}
ul{
    list-style: none;
    display: inline-block;
    display: flex;
    margin-left: 40px;
    gap: 40px;
    flex-direction: row;
    font-size: 20px;
    position: relative;
    font-family: "poppins";
}
li a{
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
}

    
.Search{
    display: flex;
    justify-content: space-evenly;
    background-color: #008cff;
    height: 51px;
    border-radius: 5px;
}
.Search-input{
    font-size: large;
    border-radius: 1px;
    border: none;
    
}
.Search-icon{
    width: 51px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* <!-- .......Section - 1 ...... --> */
.main{
    background-color: #f8cd32;
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding: 70px 130px 70px 130px;

}
.sub1{
    justify-content: center;
    /* display: flex;  */
}
.main-01{
    font-size: 70px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    justify-content: center;
    display: flex;
}
.main-02{
    color: #ffffff;
    font-family: 400;
    font-size: 29px;
    text-align: left;
    margin-top: 40px;
    margin: 40px 80px 40px 0px;
    display: flex;
}

.input-03{
    background-color: #008cff;
    padding: 13px 25px 13px 25px;
    border-radius: 5px ;
    border: 1px solid #008cff;
    color: #ffffff;
}
.input-03:hover{
    box-shadow: 2px 4px 9px rgb(73, 73, 73);
    touch-action: pinch-zoom;
}
.input-04:hover{
    background-color: #008cff;
    color: #ffffff;
    border: none;
    box-shadow: 2px 4px 9px rgb(73, 73, 73);
}
.input-04{
    background-color: #f8cd32;
    padding: 13px 25px 13px 25px;
    color: #ffffff;
    border-radius: 5px ;
    border: 1px solid #ffffff;
    margin-left: 25px;
}

/* <!-- .......Section - 2 ...... --> */

.Searvice-1{
    background-color: #ffffff;
    justify-content: space-around;
    display: flex;
    padding: 100px;
}

.Searvice-02{
    font-size: 50px;
    align-items: center;
    margin: 90px 0px 50px 125px;
}
.Searvice-03{
    font-size: 20px;
    align-items: center;
    margin: 50px 40px 30px 125px;
}
.Service-002{
    background-color: #f8cd32;
    color: #ffffff;
    margin: 0px 0px 0px 125px;
    padding: 13px 25px 13px 25px;
    border: 1px solid #daac00;
    border-radius: 5px;
}
.wrapper{
    /* background-image: url(Place\ Your\ Image\ Here.svg); */
    background-color: #f8cd32;
}

.service-image-6{
    width: 350px;
    /* padding: 125px; */
    
}

/* <!-- .......Section - 3 ...... --> */

.title{
    background-color: #f8cd32;
    justify-content: center;
    flex-wrap: wrap;
}
.title-1{
    font-size: 50px;
    justify-content: center;
    display: flex;
    color: #ffffff;
    padding-top: 50px;
}
.pare-1{
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 30px 450px 50px 450px;
    color: #f0f0f0;
    text-align: center;
}
.main-box{
    justify-content: space-around;
    display: flex;
    padding: 50px 90px 0px 190px;
    align-items: center;
    /* gap: 50px; */
}

.hedding-3{
    color: #ffffff;
    font-size: 35px;
    align-items: center;
    margin: 20px 30px 10px 30px;
}
.pare-2{
    /* justify-content: space-between; */
    display: flex;
    text-align: center;
    margin: 20px 125px 50px 20px;
    color: #f0f0f0;
}
.box-1{
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

/* <!-- .......Section - 4 ...... --> */

.Contean{
    background-color: #ffffff;
    justify-content: space-around;
    display: flex;
    padding: 100px;
}
.img-1{
    width: 350px;
    

}
.Contean-01{
    font-size: 50px;
    align-items: center;
    margin: 90px 90px 50px 125px;
}
.Contean-02{
    font-size: 20px;
    align-items: center;
    margin: 50px 40px 30px 125px;
}
.Contean-03{
    background-color: #f8cd32;
    color: #ffffff;
    margin: 10px 10px 20px 125px;
    padding: 13px 25px 13px 25px;
    border: 1px solid #daac00;
    border-radius: 5px;
}

/* <!-- .......Section - 5 ...... --> */

.title-A{
    background-color:#daac00 ;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.title-A1{
    font-size: 50px;
    text-align: center;
    display: flex;
    color: #ffffff;
    padding-top: 50px;
    

}


.pare-A1{
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 30px 450px 50px 450px;
    color: #f0f0f0;
    text-align: center;
}
.main-box-A{
    justify-content: space-around;
    /* display: flex; */
    padding: 50px 50px 50px 50px;
    align-items: center;
}
.dolor{
    color: #ffffff;
    font-size: 35px;
    align-items: center;
    margin: 20px 30px 10px 30px;
}
.buy-now{
     display: flex;
    text-align: center;
    margin: 20px 125px 50px 20px;
    color: #ffffff;
    background-color: #008cff;
    padding: 13px 35px 13px 35px;
    border-radius: 20px;
    border: none;
}

/* <!-- .......Section - 6 ...... --> */


.team-container{
    background-color: #ffffff;
    justify-content: space-around;
    display: flex;
    padding: 40px;
}
.team-1{
    margin: 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 50px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.team-pre{
    font-size: 25px;
    color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 330px;
    margin-right: 330px;
}
.team-container{
    background-color: #ffffff;
    justify-content: center;
    flex-direction: row;
    display: flex;
    text-align: center;
    gap: 70px;
}
.team-box{
    padding: 10px;
    margin-top: 10px;
}
.btd-01{
    padding: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btd-2{
    margin-bottom: 13px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btd-1{
    background-color: #f8cd32;
    color: #f8cd32;
    gap: 50px;
    border-radius: 50px;
    box-shadow: 0.5px 0.5px 3px black;
}

/* <!-- .......Section - 7 ...... --> */

.Clients{
    background-image: url(Group\ 1.png);

    align-items: center;
    height: 550px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 330px;
   
}



.number{
    color: #ffffff;
    font-size: 30px;
}
.item-name{
    color: #ffffff;
    font-size: 30px;
}

/* <!-- .......Section - 8 ...... --> */

.Container-team{
    background-color: hsl(0, 0%, 100%);
    justify-content: space-around;
    display: flex;
    padding: 40px;
    
}
.team-001{
    margin: 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 50px;
    color: black;

}z
.team-pre-1{
    font-size: 25px;
    color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 330px;
    margin-right: 330px;
}
.Container-team{
    background-color: #ffffff;
    justify-content: center;
    flex-direction:column;
    display: flex;
    text-align: center;
    gap: 70px;
    align-items: center;
}
.team-box-A1{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.pare-AA1{
    padding: 10px;
    font-size: 20px;
}
.date{
    margin-bottom: 13px;
    font-size: 17px;
    color: rgb(45, 191, 248);
}
.pre-A2{
    font-size: 20px;
    /* margin-left: 300px;
    margin-right: 300px; */
}
.more{
    color: rgb(45, 191, 248);
    display: inline-block;
    text-decoration: none;

}

/* <!-- .......Section - 9 ...... --> */

.Footer{
    background-color: #343434;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 100px 0px;
    position: relative;
}
/* .title-Hera{
    list-style-type: none;
    font-size: 25px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400; 
 
} */
.title-B1{
    list-style-type: none;
    font-size: 25px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
    justify-content: end;
    align-items: end;
    font-family: "Poppins";
    padding: 10px;
}
.title-A1{
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: end;
}
.Footer >.About .Services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
}
.About-1 {
    color: #ffffff;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.Services-1{
    color: #ffffff;
    font-size: 35px;
    padding: 40px;
}
.Footer ul{
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 23px;
}
.telegram-icon-2{
    width: 430px;
    height: 70px;
    background-color: #daac00;
    position: relative;
}
.telegram-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 70px;
    background-color: #00bec9;
    position: absolute;
    right: 0;
}
.Media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 20px;
    text-align: end;
    margin-top: 10px;
}