/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 10px;
    width: 1440px;
    background-color: #daac00;
    font-size: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Poppins";
    

  }
  
  header img {
    height: 50px;
    width: auto;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  header nav ul li {
    margin-right: 10px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  header nav a:hover {
    background-color: #555;
  }
  
  .search-container {
    margin-right: 20px;
  }
  
  .search-container input[type=text] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
  
  .search-container input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
  }
  
  /* Home section styles */
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    width: 1440px;
    background-color: #fcc302;
  }
  
  #home h1 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  #home p {
    
    color: #666;
    margin-bottom: 20px;
    font-size: 67px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
  }
   
    .image{
       width: auto;
       height: auto;
    }

    .div1{
      text-align: left;
      margin-left: 10px;
    }
#about{
  background-color: #ffffff;
}

.head1{
  font-size: 20px;
color: #313243;
font-weight: 200;
font-family: "Poppins";
display: flex;
}

.section23{
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  width: 182px;
  height: 69px;
  border-radius: 7px;
  background-color: #fcc302;
  text-align: center;
}


  